.landingContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    top:110px;
}

.fullCardContainer{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    width: 40vw;
}

.pageLabel{
    position: fixed;
    top: 40px;
    left: 5px;
}


@media(min-width: 300px)and (max-width:800px){
    .fullCardContainer{
        width: 98%;
    }
}