.otherUserPage{
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    position:relative;
    top: 110px;
}

.otherUserTitle{
    position: fixed;
    top: 40px;
    left: 5px;
}

.otherFullContainer{
    display: flex;
    flex-flow:row-reverse nowrap;
    position: relative;

}

@media(min-width: 300px) and (max-width: 800px){
    .otherFullContainer{
        width: 98vw;
    }
}