.addPostModal{
    display: flex;
    position:fixed;
    z-index: 500;
    height: 100vh;
    width: 100vw;
    background-color: rgba(50, 50, 50, .85);
    box-sizing: border-box;
    visibility: hidden;
}

.modalTitle{
    position: relative;
    bottom: 41%;
}

.modalBackground{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    width: 50%;
    height: 60%;
    margin: 15% 25%;
    background-color: rgba(50, 50, 50, .85);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.addPostForm{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    margin: 5% 5% 0% 5%;    
    justify-self: flex-end;
}

.addModalLabel{
    position: relative;
    width: 90%;
    margin: 0px 5% 5px 5%;    
}

.addModalInput{
    position: relative;
    width: 90%;
    height: 2.5rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 0px;
    padding: 2px;
    margin: 0px 5% 10px 5%;
    box-sizing: border-box;
    border-radius:5px;
    top: 0;
    left: 2px;
    transition: .2s ease-in-out;
    outline: none;
    border: none;
}

.addModalInput:focus{
    top: -2px;
    left: 0px;
    box-shadow: 2px 2px 4px;

}

.addModalSubmitButton{
    position:relative;
    width: 90%;
    margin: 5px 5%;
    box-sizing: border-box;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}

.addPostModalCloseButton{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 3%;
    right:1.5%;
    border: solid black 1px;
    border-radius: 200px;
    height:2.5rem;
    padding: 5px;
    color: black;
    background-color: white;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

#selectionDiv{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    height: 3.5rem;
    width: 90%;
    margin: 0 5%;
    align-items: center;
    justify-content: space-between;
}

#fileInput{
    order: 2;
    display: flex;
    position: relative;
    width: 85%;
    margin: 0;
}

#urlInput{
    order: 2;
    display: flex;
    position: relative;
    width: 85%;
    margin: 0;
}


.postTypeSelection{
    order: 1;
    position: relative;
    width: 12%;
    box-sizing: border-box;
}

@media(min-width: 300px)and (max-width:800px){
    .modalBackground{
        width: 98%;
        height: 75%;
        margin: 22.5% 1%;
    }

    .addPostModalCloseButton{
        height: 10px;
    }

    #fileInput{
        width: 100%;
        margin: 0;
        left: 0;
    }
    
    #urlInput{
        width: 100%;
        margin: 0;
        left: 0;
    }

    #selectionDiv{
        position: relative;
        flex-flow: column nowrap;
        box-sizing: border-box;
        width: 90%;       
        height: 20%;
        left: 2px;
    }
    
    #postTypeSelection{
        display: relative;
        width: 50%;
        height: 20%;
    }
}
@media(min-height: 200px) and (max-height: 500px){
    #addPostModal{
        position: fixed;
        width: 75vw;
        margin: 0 0 0 25vw;
        top: 0;
        box-sizing: border-box;
        /* border: solid white; */
    }

    .modalBackground{
        position: relative;
        width: 98%;
        height: 98%;
        margin: 1% 1%;
        top: 0;
    }
    
    .modalTitle{
        font-size: 1.2rem;
        margin: 5px 0;
    }

    .addModalInput{
        height: 1.5rem;
        font-size: 1rem;
    }

    #selectionDiv{
        flex-flow: row nowrap;
        height: 2.5rem;
        width: 90%;
    }

    #urlInput{
        width: 80%;
    }
    
    #fileInput{
        width: 80%;
    }

    #postTypeSelection{
        width: 15%;
        height: 50%;
    }
}