.addPostModal{
    display: flex;
    position:fixed;
    z-index: 500;
    height: 100vh;
    width: 100vw;
    background-color: rgba(50, 50, 50, .85);
    box-sizing: border-box;
    visibility: hidden;
}

.modalBackground{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    width: 50%;
    height: 60%;
    margin: 15% 25%;
    background-color: rgba(50, 50, 50, .85);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modalContent{
    position: relative;
    width: 90%;
    height: 80%;
    box-sizing: border-box;
}

.PostFormContainer{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    
}

.addPostForm{
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

.addModalLabel{
    position: relative;
    width: 90%;
    margin: 0px 5% 5px 5%;    
}

.addModalInput{
    position: relative;
    width: 90%;
    height: 2.5rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 0px;
    padding: 2px;
    margin: 0px 5% 10px 5%;
    box-sizing: border-box;
    border-radius:5px;
    top: 0;
    left: 2px;
    transition: .2s ease-in-out;
    outline: none;
    border: none;
}

.addModalInput:focus{
    top: -2px;
    left: 0px;
    box-shadow: 2px 2px 4px;

}

.addModalSubmitButton{
    position:relative;
    width: 90%;
    margin: 5px 5%;
    box-sizing: border-box;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}

.addPostModalCloseButton{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 3%;
    right:1.5%;
    border: solid black 1px;
    border-radius: 200px;
    height:2.5rem;
    padding: 5px;
    color: black;
    background-color: white;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

.previewDiv{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
    /* padding:5px; */
    box-sizing: border-box;
    color: white;
}

#fileInput{
    order: 2;
}

#fileInput{
    display: flex;
    box-sizing: border-box;
    margin: 0;
}

#urlInput{
    position: relative;
    margin: 0;
    width: 90%;
    padding:5px;
    box-sizing: border-box;
}

#selectionDiv{
    display: flex;
    height: 2rem;
    width: 8%;
    align-items: center;
}

.postTypeSelection{
    order: 1;
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
}

#selectLabel{
    margin-right: 10px;
}

@media(min-width: 300px)and (max-width:800px){
    .modalBackground{
        width: 98%;
        height: 75%;
        margin: 22.5% 1%;
    }

    .addPostModalCloseButton{
        height: 10px;
    }

    .previewDiv{
        position: relative;
        flex-flow: column nowrap;
        height: 15vh;
    }
    #fileInput{
        width: 100%;
        margin: 0;
    }

    #urlInput{
        width: 100%;
    }

    #selectionDiv{
        position: relative;
        width: 65%;       
        height: 50%;
        justify-content: center;
    }
    
    #postTypeSelection{
        display: absolute;
        width: 50%;
        height: 50%;
    }
    @media(min-height: 200px) and (max-height: 500px){
        #addPostmodal{
            display: absolute;
            top: 15%;
            font-size:1rem;
        }

        .modalBackground{
            position: relative;
            height: 98%;
            width: 98%;
            margin: 1% 1%;
        }

        input{
            height: .5rem;
        }
    }
}