.editCommentModal{
    display: flex;
    z-index: 700;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color:rgba(100, 100, 100, .85);
    visibility: hidden;
}

.editCommentModalBackground{
    display: flex;
    position: relative;
    width: 50%;
    height:50%;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    background-color: #222629;
}

.editCommentModalContent{
    display:flex;
    flex-flow:column nowrap;
    position: relative;
    width:95%;
    height:100%;
    box-sizing: border-box;

}

.editCommentModalFormContainer{
    display: flex;
    position: relative;
    width: 100%;
    height: 90%;
}

.editCommentModalForm{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 5%;
}

.editCommentLabels{
    margin: 5px 0;
    color: #dedede;
}

.editCommentInput{
    position: relative;
    height: 5rem;
    font-size: 1.5rem;
    top: 2px;
    margin:10px 0px;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
}

.editCommentModalName{
    color: #dedede;
}

#editCommentSubmitButton{
    height: 2.5rem;
    background-color: white;
    color:#222629;
    border: none;
    transition: color .35s ease-in-out .1s;
}

.editCommentCloseButton{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 3.5%;
    right:2%;
    border-radius: 200px;
    height:2.5rem;
    padding: 5px;
    border: solid #474b4f 1px;
    background-color: black;
    color: #474b4f;
    transition: .2s  background-color ease-in-out, color .2s ease-in-out;
}

.editCommentCloseButton:hover{
    color: #dedede;
    background-color: black;
    border: solid #dedede 1px;
}

@media(min-width: 300px) and (max-width:500px){
    .editCommentModal{
        height: 100dvh;
        width: 100dvw;
        padding: 32.5px 0 0 0;
    }
    .editCommentModalBackground{
        width: 98%;
        height: 90%;
    }

    .editCommentCloseButton{
        height: 10px;
    }
    
    .editCommentInput{
        height: 75%;
    }
}

@media(min-height: 200px) and (max-height: 500px){
    .editCommentModal{
        width: 75dvw;
        height: 100dvh;
        margin: 0 0 0 25dvw;
    }
    
    .editCommentModalBackground{
        width: 98%;
        height: 98%;
    }
    
    .editCommentCloseButton{
        height: 10px;
    }
}