.postModal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 600;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    background-color: rgba(150,150,150,.8);
}

#PostModalInnerContainer{
    display:flex;
    flex-flow: row nowrap;
    height: 70%;
    width: 65%;
    border: solid black 1px;
    background-color: rgba(255,255,255,1);
}

.imgAndDeets{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    /* border: solid green; */
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    padding:10px 0 10px 10px;
}

#postModalBanner{
    display: flex;
    align-items: center;
    position: relative;
    height:15%;
    width: 100%;
    margin:0;
    color:black;
}

.imgContainer{
    position: relative;
    height: 280px;
}

.postModalImg{
    position: relative;
    height: 100%;
    width:100%;
    object-fit: scale-down;
}

.captionAndLikesContainer{
    display:flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    margin-top: 10px;
}
.postModalCaption{
    display: flex;
    position:relative;
    width:90%;
    box-sizing: border-box;
    padding: 5px;
    overflow-y: auto;
    height: 100%;
    font-size: 1.5rem;
}

.postModalLikeButton{
    display:flex;
    width:10%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.commentsContainer{
    display:flex;
    flex-flow: column nowrap;
    position: relative;
    width: 40%;
    height:100%;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
}

.commentsContainerBanner{
    box-sizing: border-box;
    padding: 10px;
}

.commentsContainerMap{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: 300px;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10px;
    scroll-behavior: smooth;
}

#commentForm{
    display: flex;
    flex-flow: column nowrap;
    border-top:solid pink;  
    box-sizing: border-box;
    padding: 0 10px;
    justify-self: flex-end;
}
.commentsTextArea{
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    height:4.5rem;
    font-size: 1rem;
    padding:2px;
    resize: none;
    outline: none;
}

#closeButton{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 11%;
    right:5%;
    border: solid black 1px;
    border-radius: 200px;
    height:2.5rem;
    padding: 5px;
    background-color: white;
    color: black;
    transition: .2s  background-color ease-in-out, color .2s ease-in-out;
}

#closeButton:hover{
    background-color: black;
    color: white;
}