.postCardContainer{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-bottom: 30px;
    width: 45vw;
    height: 55vh;
}

.cardTitle{
    display: flex;
    flex-flow: column nowrap;
    position:absolute;
    z-index: 200;
    width: max-content;
    background-color: rgba(100,100,100,.9);
    border-radius: 0 10px 10px 0;
    padding: 10px;
    box-sizing: border-box;
    color: #dedede;
    top: 10px;
}

.postCardTitle{
    margin:0;
    width:fit-content;
    height: fit-content;
}

.postCardContainer:hover > #caption{
    background-color: rgba(100,100,100,.9); 
    color: #dedede;
    visibility: visible;
}

#caption{
    visibility: hidden;
    z-index: 200;
    position:absolute;
    height: 30%;
    background-color: rgba(100,100,100, .0);
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    bottom: 0;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    color: rgba(0,0,0,.001);
    transition: background-color .2s ease-in-out, visibility 0s .1s;
}

#postImg{
    position: relative;
    border-radius: 10px;
    min-height: 100%;
    min-width:100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px -1px;
    background-color: #474b4f;
}

@media(min-width: 300px) and (max-width:800px){
    .postCardContainer{
        position: relative;
        width: 88vw;
    }
    #postImg{
        position: relative;
        width: 100%;
    }
}

@media(min-height: 300px) and (max-height:500px){
    .postCardContainer{
        position: relative;
        width: 50vw;
        height: 75vh;
    }
}