.userHomepage{
    display: flex; 
    flex-flow: column nowrap;
    position: relative;
    align-items: center;
    padding-top: 120px;
}

.userHomepageLabel{
    position: fixed;
    top: 40px;
    left: 5px;
    color: #dedede;
}

.fullUserPostContainer{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    width: 40vw;
}

.userpagePostLikes{
    position: relative;
    left: 5px;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    color: #dedede;
}

@media(min-width: 300px)and (max-width:800px){
    .fullUserPostContainer{
        width: 98%;
    }

    
}
@media(min-height: 200px) and (max-height:500px){
    .userHomepage{
        position: relative;
        width: 75%;
        margin: 0% 0% 0% 25%;
        min-height: 100vh;
        padding-top: 12vh;
        align-items: center;
    }

    #noPost{
        position: relative;
    }

    #userHomepageLabel{
        position: fixed;
        top: 0;
        left: 26%;
        font-size: 1.4rem;
    }
}