.userHomepage{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
    /* visibility:hidden; */
}

.pageLabel{
    position: absolute;
    left: 10px;
    top: -30px;
}

#userPostsMapContainer{
    display: flex;
    position: relative;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    /* border: solid black; */
    right: 15px;
}

.userpagePostLikes{
    display: flex;
    position:relative;
    width:fit-content;
    /* border: solid red; */
    left: 102%;
    bottom: 90%;
}