.postBy{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    z-index: 600;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    white-space: pre;
    box-sizing: border-box;
}

.postBy > a{
    text-decoration: none;
    color: #61892f;
    transition: .2s ease;  
    top: 4px;  
}
.postBy:hover > a{
    color:#88c232
}

#userDetails{
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: lightgreen;
    color: rgba(0,0,0,0);
    font-size: .8rem;
    opacity: 0.0;
    width: 0px;
    height: 0px;
    padding: 0;
    box-sizing: border-box;
    transition: opacity .2s ease-in-out 0s,.2s width ease-in-out , height .2s ease-in-out .25s, color .2s ease-in-out .4s;
}

#userDetails > div{
    position: relative;
    text-align: left;
    width: 90%;
    height:fit-content;
    overflow-x: auto;
}

.postBy:hover > #userDetails{
    position: absolute;
    visibility: visible;
    opacity: .9;
    color: rgba(0,0,0,1);
    width: 210px;
    height: 100px;
    top: 102%;
}

#followbuttonDiv{
    justify-self: flex-end;
}

.userPageLink{
    color: #dedede;
    text-decoration:none;
    transition: .2s ease;
}
.userPageLink:hover{
    color:#86c232
}