.navContainer{
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    z-index:1000;
    width: 100vw;
    height: 4rem;
    box-sizing: border-box;
    background-color: rgba(100,100,100,.8);
}

.nav{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.navUserDetail{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    text-decoration: none;
    color: black;
}

.homeAndPost{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 25%;    
    text-decoration:none;
}

.signInButtons{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 25%;
    margin: 0 1;
    justify-content: space-around;
    text-decoration: none;
}

.signUpButton{
    text-decoration: none;
    color: black;
}

.homeButton{
    text-decoration: none;
    color: black;
}

.userName{
    text-decoration: none;
    color: black;
}