.signupPageContainer{
    display: flex;
    /* border: solid black 1px; */
    height: 100vh;
    width: 100vw;
}

.signupIsland{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 50%;
    height: fit-content;
    margin: 0% 25%;    
    box-sizing: border-box;
    background-color: rgba(150,150,150,.9);
    border-radius: 15px;  
    padding: 10px;
    top: 16%;
}

.signupForm{
    display:flex;
    flex-flow: column nowrap;
}

.signupInput{
    margin: 2px 5%;
    position: relative;
    /* border: solid black 1px; */
    outline: none;
    width: 90%;
    height: 2.5rem; 
    box-sizing: border-box; 
    border-radius: 5px;  
    font-size:1.5rem;
    box-shadow:  0px 0px 0px;
    top:2px;
    left:2px;
    transition: .2s ease-in-out;
}
.signupInput:focus{
    box-shadow:  2px 2px 4px;
    top:0px;
    left:0px;
}

.islandLabelContainer{
    text-align: center;
}

.formLabels{
    margin: 10px 5% 0px 5%;
}

#signupButton{
    width: 90%;
    margin-top: 10px;
    box-sizing: border-box;
}

@media(min-width: 200px) and (max-width: 800px){

    .signupIsland{
        margin: 0% 1%;
        width: 98%;
    }

}

@media(min-height: 200px) and (max-height: 500px){
    .signupPageContainer{
        position: fixed;
        width: 75vw;
        margin: 0vw 25vw;
        top: 0;
    }
    .signupIsland{
        margin: 0 1%;
        height: 76%;
        top: 5px;
    }

    .islandLabel{
        margin: 0;
    }

    .formLabels{
        font-size: .8rem;
        margin: 0 5%;
    }

    .signupInput{
        height: 1.5rem;
        font-size: 1rem;
        margin:0 5%;
    }
}