.loginModal{
    display:flex;
    position: fixed;
    visibility: hidden;
    z-index: 700;
    border: solid black 1px;
    background-color: rgba(100,100,100,.7);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.loginFormContainerAndTitle{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 0 25%;
    background-color: rgba(100,100,100,.8);
    border-radius: 5px;
}

#loginSubmitButton{
    position: relative;
    width: 50%;
    height: 2.5rem;
    margin: 2% 25% 2% 25%;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid black 1px;
    background-color: white;
    font-size: 1.5rem;
    transition: .3s background-color ease-in-out;
}

.loginFormContainer{
    display:flex;
    position:relative;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 70%;
    border-radius: 5px;
}

.loginForm{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-items: space-between;
    width:100%;
    height:100%;
}

.loginInput{
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid black 1px;
    outline: none;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 2px;
    margin: 5px 0px;
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px 0px;
    transition: top .2s ease-in-out, left .2s ease-in-out, box-shadow .2s ease-in-out;
}

.loginInput:focus{
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px 4px;
}


#loginModalCloseButton{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 12%;
    right:19%;
    border: solid black 1px;
    border-radius: 200px;
    height:2.5rem;
    padding: 5px;
    color: black;
    transition: .1s ease-in-out;
}